---
title: Contact
---



<h2>Join Our Discord</h2>

<a href= "https://discord.gg/WsNeTMX3pE">
{% image "discord-logo-white.svg", "Discord logo" %}
</a>

<h2>Email Us</h2>
<p>Email: example@example.com</p>